<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Inyección para el controlador MasterLinks -->
    <type name="Ecommerce360\MasterLinks\Controller\Adminhtml\Index\Index">
        <arguments>
            <argument name="resultPageFactory" xsi:type="object">Magento\Framework\View\Result\PageFactory</argument>
        </arguments>
    </type>

    <!-- Definición del FilterPool para MasterLinks -->
    <virtualType name="Ecommerce360MasterLinksFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Definición del DataProvider para MasterLinks -->
    <virtualType name="Ecommerce360MasterLinksDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">
                Ecommerce360\MasterLinks\Model\ResourceModel\MasterLink\Grid\Collection
            </argument>
            <argument name="filterPool" xsi:type="object" shared="false">Ecommerce360MasterLinksFilterPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuración de CollectionFactory para el DataProvider -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="ecommerce360_masterlinks_listing_data_source" xsi:type="string">
                    Ecommerce360\MasterLinks\Model\ResourceModel\MasterLink\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>

</config>
