<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Ecommerce360_Links::manage_links" title="Manage Product Links" module="Ecommerce360_Links" sortOrder="20" parent="Ecommerce360_Tiendas::main_menu" action="links/index/index" resource="Ecommerce360_Links::manage_links"/>
    </menu>
</config>
