<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Ecommerce360_SkuAssociation::manage_sku_associations" 
             title="Manage SKU Associations" 
             module="Ecommerce360_SkuAssociation" 
             sortOrder="20" 
             parent="Ecommerce360_Tiendas::main_menu" 
             action="skuassociation/index/index" 
             resource="Ecommerce360_SkuAssociation::manage_sku_associations"/>
    </menu>
</config>
